/* app css stylesheet */

body{
  background-image: url("images/background.jpg");
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.panel{
  background: #B0E0E6;
  border: #ccc 2px solid;
}

ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}

li{
  line-height: 1.8em;
}

h5{
  margin: 10px 0;
  padding: 5px 0;
  background: #8FBC8F;
  padding: 10px;
  color: #2F4F4F;
}

.animated{
  animation-duration: 2s;
  animation-delay: 2s;
}